<section class="Privacy_policy">
    <div class="container">
        <div class="content" style="text-align: right;">
            <h1>من نحن</h1>           
            <p>
                نحن فريق متناسق ومتكامل في اكبر واضخم موقع كوبونات في الشرق الاوسط وشمال افريقيا. نحن هنا لنقدم لك دائما جديد عروض الخصم والكوبونات من كل المتاجر الالكترونية في المنطقة . نعمل مع مواقع تسوق إلكتروني ضخمة ومشهورة ولها الريادة في السوق العربي والعالمي مثل نمشي ، سوق ، جوميا ، نسناس، نون, زافول ،علي اكسبراس وغيرها الكثير. ينعكس حماسنا في العمل في رغبتنا الكاملة لتوفير مالك وحسن توجيهك الى العروض والخصومات المتعلقة بالعلامات التجارية في منطقة الشرق الاوسط وشمال افريقيا بمختلف فئاتها وكل هذا بحسب مايتناسب مع ذوقك وجيبك
                . </p>

            <h4>مهمتنا</h4>
            <p>نحن في سعي دائم لإرضاء مستخدمينا اينما كانوا لهذا لا نوفر جهدا في البحث عن احدث الخصومات والكوبونات لتقديمها اليك قبل أي موقع اخر لتكون صاحب الريادة و لتستفيد منها لأطول وقت ممكن قبل انتهاء صلاحيتها وبهذا ستتمكن من الاستفادة منها لشراء منتجك المفضل او اهدائه لحبيب لك</p>
            <h4>كيفية استخدام تطبيقنا</h4>
            <p>
                تصميم تطبيقنا يجعله سهلا ومريحا اثناء التصفح، ستجد قبالتك احدث عروض الخصم والكوبونات في قائمة انيقة ومرتبة بجانبها المتجر المتوفر فيه العرض يكفي ان تضغط عليه ليتم نسخ رمز الكوبون ثم قم بالدخول الى المتجر الإلكتروني الّذي تريد التسوق منه واستمتع. اضافة الى هذا ستجد خاصية البحث التي ستجعل حياة التسوق خاصتك اسهل واسرع.</p>
            
        </div>
        
    </div>
    
</section> 
    
</body>

</html>